certifi==2024.2.2
chardet==4.0.0
click==7.1.2
exceptiongroup==1.2.0
idna==2.10
iniconfig==2.0.0
injector==0.18.0
packaging==23.2
pluggy==1.4.0
prettytable==3.9.0
pytest==8.0.0
requests==2.25.1
tomli==2.0.1
typing-extensions==4.9.0
urllib3==1.26.18
wcwidth==0.2.13
